# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
terraform.tfvars
crash.log

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/

# Logs
*.log

# Operating System
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
*.pem
*.key
*.crt

# AWS CLI credentials
.aws/